/* screen - homepage */

.homepage {
  background-color: rgba(255,255,255,1.0);
  height: 775px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1438px;
}
.homepage .about-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1177px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 79px;
  width: auto;
}
.homepage .connect-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1290px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 79px;
  width: auto;
}
.homepage .design-C61RwL {
  background-color: transparent;
  height: auto;
  left: 724px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 79px;
  width: auto;
}
.homepage .natalie-runnels-C61RwL {
  background-color: transparent;
  color: rgba(250,246,233,1.0);
  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 86px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 71px;
  width: auto;
}
.homepage .photography-C61RwL {
  background-color: transparent;
  height: auto;
  left: 849px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 79px;
  width: auto;
}
.homepage .rectangle-2-C61RwL {
  background-color: transparent;
  border: 2px solid rgba(250,246,233,1.0);
  height: 91px;
  left: 51px;
  position: absolute;
  top: 49px;
  width: 334px;
}
.homepage .resume-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1041px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 79px;
  width: auto;
}
.homepage .unknown-1-C61RwL {
  background-color: transparent;
  height: 775px;
  left: -2px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.lora-bold-emperor-24px {
  color: var(--emperor);
  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --emperor: rgba(89,70,69,1.0);
}
